DATABASE_URL="postgresql://user:password@localhost:5432/nuve"
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
COOKIE_SECRET="your-cookie-secret-min-32-chars"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001"
PORT=3001
NODE_ENV=development
